aside#comment-sidecar p.cs-title {
    font-size: 36px;
    margin: 20px 0px 10px 0px;
    text-align: left;
    font-weight: bold;
}
aside#comment-sidecar div.cs-post {
    margin: 15px 0px 15px 0px;
    clear: both;
    min-height: 65px; /* correspond to avatar size */
}
aside#comment-sidecar div.cs-avatar{
    float: left;
    padding: 0px 10px 0px 5px;
}
aside#comment-sidecar div.cs-avatar img{
    border-radius: 150px;
}
aside#comment-sidecar div.cs-form-root {
    margin-bottom: 5px;
}
aside#comment-sidecar div.cs-body {
    margin: 0px 0px 0px 80px;
}
aside#comment-sidecar div.cs-body header.cs-header{
}
aside#comment-sidecar div.cs-body header.cs-header span.cs-author{
    font-weight: bold;
    margin-right: 10px;
}
aside#comment-sidecar div.cs-body header.cs-header span.cs-date{
    font-size: 90%;
    color: gray;
}
aside#comment-sidecar div.cs-body div.cs-content{
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 0px 0px;
}
aside#comment-sidecar div.cs-form {
    padding: 5px;
    margin-top: 5px;
}
aside#comment-sidecar div.cs-comment-list p{
    margin-top: 15px;
}
aside#comment-sidecar form p.cs-form-message {
    font-weight: bold;
    font-size: 110%;
    margin-top: 10px;
    line-height: 30px;
    display: none;
}
aside#comment-sidecar form p.cs-form-message.success {
    color: darkgreen;
    display: block;
}
aside#comment-sidecar form p.cs-form-message.fail {
    color: darkred;
    display: block;
}
aside#comment-sidecar form .cs-url-group {
    display: none;
}